/* CSS styling for login.html */



body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
}


#main {   
  padding-top: 15%;
  }



#container {
  padding: 2% 0;                                 
  display: grid;                                 
  width: 30vw;                                   
  margin-left: 35vw;                             
  justify-items: center;                         
  background-color: rgba(44, 38, 38, 0.879);    
  box-shadow: 0px 0px 5px 2px black;            
  color: rgb(241, 241, 241);                    
}




input[type=text], input[type=password] {
  width: 140%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #ffffff;
}



input[type=email], input[type=email] {
  width: 140%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #ffffff; 
}



#registerForm {
  display: grid;
  display: grid;
  justify-items: center;
  padding-right: 30%;
}



#loginForm {
  display: grid;
  justify-items: center;   
}



h2 {
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
}



#login { 
  padding: 2%;
  margin:.2em;
  height: 3vh;                                 
  border:0.16em solid rgba(255,255,255,0);    
  font-size: 1rem;     
  border-radius:0.2em;                        
  color:#ffffff;                              
  background-color: rgb(107, 104, 109);                            
}



#register {
  padding: 2%;
  margin:.2em;
  height: 3vh;                                 
  border:0.16em solid rgba(109, 104, 104, 0); 
  font-size: 1rem;                             
  color:#ffffff;                              
  background-color: rgb(107, 104, 109);                           
}

                                                
